h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya';
}

body {
    color: #333;
    background-color: #f2f2f2;
    font-family: 'Alegreya', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.copyleft {
    display:inline-block;
    transform: rotate(180deg);
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
}

.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar-default .navbar-brand {
    color: #000000;
    font-family: 'Alegreya';
}

.navbar-default .navbar-brand:hover {
    color: #000;
}

.navbar-default .navbar-nav li a {
    color: #000;
}

.navbar-default .navbar-nav li a:hover {
    color: #000;
    background-color: #f2f2f2;
}

.navbar-default .navbar-nav .active a {
    color: #000000;
    background-color: #f2f2f2;
}

.navbar-default .navbar-toggle:hover{
    color: #ffff;
    background-color: #0000;
}

.navbar-default .navbar-toggle .icon-bar {
    color: #000000;
    background-color: #f2f2f2;
}

#sidebar {
    margin-left: 15px;
    margin-top: 50px;
}

#content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

#content img {
    max-width: 100%;
    height: auto;
}

#dp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align: center;
    max-width: 20%;
}

#addressbook {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

blockquote footer {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
}
#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}
pre code {
    display: block;
    padding: 0.5em;
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
    #dp {
    }

    #addressbook {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
